<div class="container" ng-controller="CreateTripCtrl as ctrl">
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <h3>Existing trip plans</h3>
            <br>
            <table class="table table-striped">
                <tbody>
                    <tr ng-repeat="list in ctrl.list | orderBy:ctrl.list.start_date">
                        <td><label>{{ list.name }}</label></td>
                        <td><button ui-sref="planner({ obj: list.id })">Edit</button></td>
                    </tr>
                </tbody>
            </table>

        </div>

        <div class="col-xs-12 col-sm-6">
            <h3>Create a new trip</h3>
            <br>
            <input type="text" class="form-control" ng-model="ctrl.trip.startDate" name="startDate" placeholder="DD-MM-YYYY">
            <input type="text" class="form-control" ng-model="ctrl.trip.days" name="days" placeholder="Number of days">
            <input type="text" class="form-control" ng-model="ctrl.trip.origin" name="origin" placeholder="From where">
            <input type="text" class="form-control" ng-model="ctrl.trip.name" name="name" placeholder="Trip name (optional)">
            <br>
            <button type="submit" class="btn btn-success" ng-click="ctrl.createTrip()">Start trip</button>
        </div>
    </div>
</div>