<div class="container" ng-controller="PlannerCtrl as ctrl">
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <h3>{{ctrl.trip.name}}</h3>
        </div>
        <div class="col-xs-12 col-sm-6">
            <h3>{{ctrl.trip.start_date}} to {{ctrl.trip.end_date}}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <input type="text" class="form-control" ng-model="ctrl.item.name" name="name" placeholder="item name">
            <input type="text" class="form-control" ng-model="ctrl.item.start_date" name="start_date" placeholder="DD-MM-YYYY">
            <input type="text" class="form-control" ng-model="ctrl.item.start_time" name="start_time" placeholder="HH:mm">
            <input type="text" class="form-control" ng-model="ctrl.item.end_date" name="end_date" placeholder="DD-MM-YYYY">
            <input type="text" class="form-control" ng-model="ctrl.item.end_time" name="end_time" placeholder="HH:mm">
            <button type="submit" class="btn btn-default btn-lg" ng-click="ctrl.insertItem()">Add</button>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div>
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <td><button ng-click="ctrl.previousDay()" ng-hide="ctrl.dateSelected<=ctrl.trip.start_date">Previous</button></td>
                            <td><h5>Day {{ctrl.daySelected}}: {{ctrl.dateSelected}}</h5></td>
                            <td><button ng-click="ctrl.nextDay()" ng-hide="ctrl.dateSelected>=ctrl.trip.end_date">Next</button></td>
                        </tr>
                        <tr ng-repeat="item in ctrl.itemList">
                            <!--<tr ng-repeat="item in ctrl.itemList | orderBy:ctrl.itemList.start_date+ctrl.itemList.start_time">-->
                            <td>{{ item.start_time }} - {{ item.end_time }}</td>
                            <td><label ng-hide="ctrl.editing">{{ item.places_name }}</label>
                            <input type="text" class="form-control" ng-model="item.places_name" name="places_name" placeholder="item name" ng-show="ctrl.editing"></td>
                            <td><button ng-click="ctrl.editItem($index)">{{ctrl.editText}}</button>
                            <button ng-click="ctrl.cancelItem()" ng-show="ctrl.editing">Cancel</button>
                            <button ng-click="ctrl.deleteItem($index)" ng-hide="ctrl.editing">Delete</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>